* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    background-color: bisque;
    padding: 20px;
    margin: auto;
   
}
.container h3,p {

    text-align: center;
}
.form-control {
    width: 80%;
    margin: 15px;
    justify-content: center;
}

.form-group button {
    width: 100%;
    margin: 15px;
    justify-content: center;
}

.subMsg {
    color: lime;
    font-family: cursive;

}